name: README Repos List
on:
   push:
    branches:
    - main
    - release/*
   schedule:
    - cron: "30 3 * * *"
jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - name: Run readme-repos-list
        uses: koj-co/readme-repos-list@master
        with:
          token: ${{ secrets.GH_TOKEN }}
          query: "Octocat in:readme"
          max: 10
